body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    display: flex;
    background: linear-gradient(to right, var(--light-purple) 60%, #ffff 50%);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
    justify-content: space-between;
}

.login-image{
    max-width: 80%;
}

.login-image img {
    max-width: 90%;
    height: auto;
}

.login-area {
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;

}

label {
    margin-bottom: 8px;
    display: block;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 90%;
}

.gap-2 .btn {
    width: 90%;
    padding: 10px; 
    background-color: var(--light-purple);
    color: var(--purple);
    font-size: 14px;
}

.gap-2 .btn:hover{
    background-color: var(--purple);
    color: #ffffff;
}

p {
    text-align: center;
    font-size: 14px;
}

a {
    color: var(--purple);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*Ajusta o layout para telas menores*/
@media screen and (max-width: 768px) {
    .login-box {
        flex-direction: column; /*Coloca a imagem e o formulário em uma coluna*/
        background: #ffffff; /*Em telas menores o fundo vai ser totalmente branco*/
        align-items: center;
        width: 90%;
        padding: 20px;
    }
    
    .login-image img {
        width: 100%; 
        max-width: 300px; 
        
    }
    
    .login-form {
        width: 100%; 
    }

    footer{
      font-size: 16px;  
    }
}

/*Ajusta o layout para telas maiores*/
@media (min-width: 1024px) {
    body{
        font-size: 18px;
        padding: 40px;
    }
    
}

:root{
    --purple: #9b4dee;
    --yellow: #f7ea48;
    --orange: #f9a36c;
    --light-purple: #e4d0fa;
    --dark-blue: #21215d;
}
