html, body{
    /*zerando as margens e padding da pagina*/
    margin: 0;
    padding: 0;
    height: 100%;
}

/*.nav-links.show {
    display: flex;  Mostra os links ao clicar no botão
} */

body, button {
    font-family: 'Kollektif', sans-serif;/*Fonte que sera usada*/
}

body{
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /**/
}

.sandbox{
    margin: auto;
    background-color: #fffae2; /*Cor de fundo da pagina "atividade-3"*/
    background-image: url(../images/original.png); /*Imagem de fundo*/
    background-size: 100%;/*A imagem de fundo vai coupar 100% da largura da pagina*/
    background-repeat: no-repeat;/*Nao repete a imagem*/
    background-position: center;/*Centraliza a imagem*/
}

/*Estilos do cabecalho*/
header{
    display: flex;
    padding: 10px 20px;
    position: fixed;/*Fixa a header quando rola a pagina*/
    top: 0;/*"Cola" a header no topo*/
    width: 100%;
    left: 0;/*"Cola" a header do lado esquerdo*/
    z-index: 99;/*A header vai se sobrepor a outros elementos da pagina*/
    background-color: var(--purple);
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.logo{
    height: 50px;
    object-fit: contain;
}

.nav-home img {
    width: 120px; /*Tamanho padrao para a logo*/
    height: auto;
}

.navbar ul{
    list-style-type: none;
    display: flex;
}

.navbar li, .btn-login{
    margin-left: 15px;/*Espaco entre um link e outro*/
}

.nav-links{
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.navbar .nav-link, footer a{
    padding: 10px;
    color: var(--yellow);/*Cor da fonte da tag a*/
    text-decoration: none;/*Tira o sublinhado dos links*/
    transition: 0.5s; /*Gera uma transicao suave ao passar o cursor*/
    text-shadow: 0px 10px 35px rgba(0, 0, 0, 0.1);/*Sombra bem suave no texto*/
}

.navbar-item{
    display: flex;
    align-items: center;
}

/*Estilo do botoes do index*/
.gap-2 .btn{
    color: #9b4dee;
    background: #f7ea48;
    min-width: 120px;
    line-height: 45px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);/*Sombra do botao*/
    transition: 0.5s;
    text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.gap-2 .btn:active {
    transform: none; /* Remove o efeito de "pressionado" */
    background-color: inherit; /* Mantém a cor do botão */
}

.gap-2 .btn:hover{
    transition: 0.5s;
    background-color: var(--light-purple);
    color: var(--purple);
}

/*Estilos do botao hambuguer*/
.navbar-toggler {
    border-color: #ffffff; /*Borda*/
    color: #ffffff;
}

.navbar-toggler-icon {
    background-image: url('../icon/menu.ico');/*imagem de fundo (tres tracinhos)*/
}


.navbar .nav-link:hover, footer a:hover{
    color: #f9a36c;/*Muda de cor quando passa o cursor*/
    
}

/*Estilos dos containers*/
.container{
    
}

/*Estilo rodape*/
footer{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    background-color: #9b4dee;
    text-align: center;
    margin-top: auto;
}

/*ajuste do cabecalho para telas maiores*/
@media screen and (min-width: 768px) {
    .navbar{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links{
        display: block;
        position: row;
        flex-direction: row;
        gap: 20px;
    }


    .btn-nav{
        flex-direction: row;
        gap: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .navbar{
        max-width: 1200px;
        margin: 0;
    }

    .nav-links ul{
        gap: 20px;
    }

    .btn-login{
        

    }
}

.nav-links.active {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #9b4dee;
    padding: 10px;
    border-radius: 5px;
}

:root{
    --purple: #9b4dee;
    --yellow: #f7ea48;
    --orange: #f9a36c;
    --light-purple: #e4d0fa;
    --dark-blue: #21215d;
}